:root {
  --top-placement: 100px;
  --left-placement: 100px;
}

#cat img {
    position: fixed;
    top: var(--top-placement);
    left: var(--left-placement);
    max-width: 125px;
    max-height:125px;
    width = auto;
    height = auto;
}
